[submodule "src/carla-gym"]
	path = src/carla-gym
	url = git@github.com:MPC-Berkeley/carla-gym.git
[submodule "src/mpclab_controllers"]
	path = src/mpclab_controllers
	url = git@github.com:MPC-Berkeley/mpclab_controllers.git
[submodule "src/mpclab_common"]
	path = src/mpclab_common
	url = git@github.com:MPC-Berkeley/mpclab_common.git
[submodule "src/mpclab_simulation"]
	path = src/mpclab_simulation
	url = git@github.com:MPC-Berkeley/mpclab_simulation.git
